/* Header */
.header{padding: 0.8em 0; position: fixed; top: 0; z-index: 1000; transition: all 0.3s ease; background: rgba(0, 0, 0, 0.001); backdrop-filter: blur(10px); border-bottom: 1px solid var(--border);}
.headerSec{display: flex; justify-content: space-between; align-items: center;}
.siteLogo{max-width: 175px;}
.headMenu > nav{margin: auto;}
.headMenu > nav > ul{display: flex; gap: 28px;}
.headMenu > nav > ul > li a{color: var(--primary-05);font-size: var(--fs-body-subSub); text-transform: uppercase;}
.headMenu > nav > ul > .active a{color: var(--primary-06); font-weight: var(--fw-medium);}
.headRgt{display: flex; align-items: center; gap: 16px;}
.header.stickyHead {width: 100%; background: var(--white); box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;padding: 1em 0;}

.menuIcon, .menuClose {display: none;max-width: 40px;margin-left: auto;}

.mainBody{padding-top:128px;}


/* ==== page common banner */
.psComPageHead{background-repeat: no-repeat; background-size: cover; background-position: center; padding: 7.93em 0 6.687em;}
.psComPageInfo{max-width: 717px; width: 100%;}
.psComPageInfo h1{font-size: var(--fs-h1); color: var(--white); margin-bottom: 0.333em; letter-spacing: 0.005em;font-weight: var(--fw-semi-bold);line-height: 1.3; text-transform: capitalize;}
.psComPageInfo p{color: var(--gray-100); line-height: 1.3; letter-spacing: 0.005em;}


/* ==== footer ==== */
.psFooter{padding-top: 60px;background: var(--primary-01);}
.psFooterInfo{display: flex; justify-content: space-between;}
.psFootBox{max-width: calc(20% - 1em); width: 100%;}
.psFooteBox4{border-left: 1px solid var(--primary-02);}
.psFootBox > h3{color: var(--primary-02); font-weight: var(--fw-medium); margin-bottom: 2em; text-transform: capitalize;}


.psFootBox > ul > li > a, .psFooteBox3 .psCompanyLinks > li > p{color: var(--body-text); line-height: 1.45;}
.psFooteBox1{max-width: 341px;width: 100%;}
.psFooteBox2{max-width: 123px;width: 100%;}
.psFootBox > h3{font-size: var(--fs-body-subSub); line-height: 2;}
.psFootBox > ul > li > a{font-size: var(--fs-body-sub); }
.psFootBox > ul > li:not(:last-child) {margin-bottom: 12px;}
.psFooteBox3{max-width: 195px; width: 100%;}
.psFooteBox3 .psCompanyLinks > li{display: flex; gap: 9px; align-items: center;}
.psFootBox > .psCompanyLinks > li:not(:last-child) {margin-bottom: 16px;}
.psFooteBox3 .psCompanyLinks > li > span{min-width: 10px;}
.psFooteBox3 .psCompanyLinks > li > p{font-size: var(--fs-body-sub);}
.psFooteBox4{max-width: 345px; width: 100%; height: max-content; padding: 21px 0 21px 24px;}
.psFooteBox4 > h3{font-size: var(--fs-32); line-height: normal; margin-bottom: 0;}
.psBottomFooter{border-top: 1px solid #5E5E5E; padding: 1.8em 0 2.37em; margin-top: 2.63em;}
.psBottomFooter > p{text-align: center; color: var(--primary-02); font-size: var(--fs-10); line-height: 2.4;}


.psHeroSection{background-image: url('../images/heroBgImg.png');background-repeat: no-repeat;background-position: center; background-size: cover; padding-top: 5em;}
.psHeroTxt{max-width: 800px; width: 100%; padding-top: 5.625em; padding-bottom: 2.625em;}
.psHeroTxt > h1{font-size: var(--fs-h1); line-height: 1.3; color: var(--primary-02); margin-bottom: 24px;}
.psHeroTxt > h1 > span{color: var(--primary-03);}
.psHeroTxt > p{max-width: 603px; font-size: var(--fs-body); color: var(--body-text); text-align: justify; border-top: 1px solid var(--border); padding-top: 1.5em;}
.psHeroBtn{display: flex; gap: 8px; margin-top: 2.5em;}
.psHeroLogo{padding: 2.0938em 8.23em; backdrop-filter: blur(20px); border-top:1px solid var(--border);}
.heroLogoMarquee{padding: 0 5em;}
.heroLogoMarquee .slick-list .slick-track{display: flex; align-items: center;}
/* .heroLogoMarquee li.slick-slide{margin-inline: 70px; min-height: 52px;} */
.heroLogoMarquee li.slick-slide img{height: 75px; width: max-content; margin: auto;}


.psEnergyInnov{padding: 5em 0; background-image: url('../images/energyInnovBg.png'); background-size: cover; background-repeat: no-repeat; background-position: center;}
.energyInnovInfo {display: flex;justify-content: space-between;}
.energyInnovHead{max-width: 33%; display: flex; align-items: center;}
.energyInnovHead h2{font-size: var(--fs-48); line-height: 64px; color: var(--primary-02);}
.energyInnovDesc{max-width: 67%; padding-left: 2.5em; margin-left: 2.5em; border-left: 1px solid var(--border);}
.energyInnovDesc p{font-size: var(--fs-body); color: var(--body-text); line-height: 25.6px; text-align: justify;}


.psSolutionArea{background-image: url('../images/solutionAreabg.png'); background-size: cover; background-repeat: no-repeat; background-position: center;}
.grid-wrapper {display: grid;grid-gap: 20px;grid-template-columns: repeat(auto-fit, minmax(176px, 2fr));grid-auto-rows: 280px;grid-auto-flow: dense;isolation: isolate;}
.grid-wrapper .tall {grid-column: span 2; grid-row: span 2;isolation: isolate; border-radius: 20px; overflow: hidden;}
.grid-wrapper .wide {grid-column: span 5;isolation: isolate; border-radius: 20px; overflow: hidden;}
.grid-wrapper .middle {grid-column: span 3 !important;isolation: isolate; border-radius: 20px; overflow: hidden;}
.grid-wrapper > div > img {width: 100%;height: 100%;object-fit: cover;border-radius: 5px;}
.techGallInfo{width: 100%; height: 100%; position: absolute; inset: 0; z-index:999; padding: 2.5em; display: flex;flex-direction: column; justify-content: space-between;}
.textLogo {max-width: 56px; padding: 11.2px; background: rgba(49, 49, 49, 0.4); border-radius: 11.2px; backdrop-filter: blur(10px);}
.psBottomTxt h3{font-size: var(--fs-24); font-weight: var(--fw-bold); color: var(--primary-03); line-height: 1.27; margin-bottom: 16px; font-weight: var(--fw-extra-bold);}
.psBottomTxt p{font-size: var(--fs-body); line-height: 1.3; color: var(--body-text);}
.grid-wrapper .middle .techGallInfo{display: flex; align-items: center; justify-content: center;}
.grid-wrapper .middle .techGallInfo .psBottomTxt{min-height: 209px; border-radius: 20px; background: rgba(255, 255, 255, 0.05); backdrop-filter: blur(10px); border: 1px solid #454545; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 0 66px;}
.grid-wrapper .middle .techGallInfo .psBottomTxt h3{font-size: var(--fs-40); font-weight: var(--fw-bold); text-align: center; text-transform: capitalize;}
.grid-wrapper .middle .techGallInfo .psBottomTxt p{text-align: center; line-height: 1.59; font-size: var(--fs-body);}


.psPowerDevCard{background-color: var(--primary-01);}
.powerDevCardBox{display: flex; justify-content: space-between;}
.powerDevCardItem{max-width: 33.33%; width: 100%;}
.powerDevCardItem:nth-child(1){padding-right: 53px;}
.powerDevCardItem:nth-child(2){padding: 0 53px; border-left: 1px solid var(--border); border-right: 1px solid var(--border);}
.powerDevCardItem:nth-child(3){padding-left: 53px;}
.powerDevCardImg{max-width: 56px; padding: 11.2px; background: rgba(49, 49, 49, 0.4); backdrop-filter: blur(10px); border-radius: 8px; margin-bottom: 2.5em;}
.powerDevCardText h3{font-size: var(--fs-24); font-weight: var(--fw-medium); color: var(--primary-03); line-height: 1.27em; margin-bottom: 16px;}
.powerDevCardText p{font-size: var(--fs-body); line-height: 20.8px; color: var(--body-text);}


.psContactForm{background-image: url('../images/contactBg.png'); background-size: cover; background-repeat: no-repeat; background-position: center;}
.psContactInfoBox{display: flex; justify-content: space-between; align-items: center;}
.contactTxtBox{max-width:40%; width: 100%;}
.contactTxtBox h2{font-size: var(--fs-40); line-height: 52px; letter-spacing: 0.78px; color: var(--primary-02); font-weight: var(--fw-normal); margin-bottom: 29px; text-transform: uppercase;} 
.contactWebs li{font-size: var(--fs-body); line-height: 25px; color: var(--primary-02);}
.contactWebs li:not(:last-child){padding-bottom: 16px; margin-bottom: 16px; border-bottom: 1px solid var(--primary-02);}
.contactWebs li span:nth-of-type(1){font-weight: var(--fw-bold);}
.contactWebs li span a{color: var(--primary-02);}
.contactFormBox{max-width: 55%; width: 100%; background: rgba(18, 18, 18, 0.6); backdrop-filter: blur(10px); padding: 2.5em; border-radius: 20px;}
.contactInputItem {display: flex; flex-direction: column; gap: 14px;}
.contactInputItem:not(:last-child){margin-bottom: 1.5em;}
.contactInputItem label{font-size: var(--fs-body); color: var(--primary-02); text-transform: uppercase;}
.contactInputItem input, .contactInputItem textarea{font-size: var(--fs-body-sub); color: var(--primary-02); padding: 13px 11px; border: 1px solid var(--border); border-radius: 8px; background-color: transparent; font-family: var(--primary-font);}
.contactInputItem input::placeholder,
.contactInputItem input::-webkit-input-placeholder {text-transform: uppercase;font-weight: var(--fw-light); font-size: var(--fs-body-sub);}
.countrySelectInp input{padding-left: 85px;}
.selectCountryBox {width: max-content; position: absolute; inset: 0; height: 100%; display: flex; align-items: center; padding-left: 11px;}
.selectCountry {max-width: max-content; height: 100%; position: absolute; top: 0;left: 11px; cursor: pointer; display: flex;align-items: center;}
.selectCountry .selectPlaceholder, .selectCountry li{display: flex; align-items: center;}
.selectCountry li img{max-width: 20px;}
.selectCountry .selectPlaceholder span{color: #fff; font-size: var(--fs-body-sub); height: 65%; display: flex;align-items: center;}
.selectCountry .selectPlaceholder span:nth-of-type(1){display: flex; gap: 3px; align-items: center; padding-right: 7px; margin-right: 5px; border-right: 1px solid var(--border); max-width: max-content;}

.selectPlaceholder{height: 100%;}
.selectPlaceholder span img{max-width: 20px;width: 100%;display: block;}
.selectPlaceholder span:nth-of-type(1){display: block;}
.selectOptions {display: none; position: absolute; top: calc(100% + 6px);left: 0; background: #000;border: 1px solid var(--border); padding: 6px 0; border-radius: 6px; min-width: max-content; z-index: 999;}
.selectOption {padding: 8px 12px; display: flex; align-items: center; gap: 8px;}
.selectOption:hover {background: rgba(255,255,255,0.1);}
.selectOption span{color: var(--primary-02);}
.psContactBtn{padding: 8px 33px;}
